* {
    margin: 0;
    padding: 0;
}

.back {
    background-image: url("assets/images/Bg\ image.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;

}

.back::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 0.5 opacity ka black overlay */
    z-index: 1;
    /* text ke neeche rehne ke liye */
}

.nav,
.logo,
.button,
.text {
    position: relative;
    z-index: 2;
    /* overlay ke upar */
}

.nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.logo {
    width: 150px;
    position: absolute;
    top: 20px;
    left: 20px;

}

.signIn {
    position: absolute;
    padding: 5px 25px;
    color: white;
    background-color: red;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.signIn:hover {
    background-color: darkred;
    transition: 0.3s;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.text h1 {
    font-size: 50px;
    margin-bottom: 20px;

}

.input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input>div {
    display: flex;
    margin-top: 10px;
}

.input p {
    font-size: 20px;
    margin-bottom: 10px;
}

.input input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: none;
    background: rgba(0, 0, 0, 0.7);
    /* black transparent */
    color: white;

    border: 1px solid #555;
    border-radius: 2px;
}

.getStarted {
    position: static;
    /* global absolute se bahar */
    height: 55px;
    padding: 0 25px;
    font-size: 18px;
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.getStarted:hover {
    background-color: darkred;
    transition: 0.3s;
}